<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>164244313415-di99ogvnrnppmg7rktgtu46r959flhf1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.164244313415-di99ogvnrnppmg7rktgtu46r959flhf1</string>
	<key>API_KEY</key>
	<string>AIzaSyAhnJ9J4fyBjVSNApweHqVcfa4VR5uXMDA</string>
	<key>GCM_SENDER_ID</key>
	<string>164244313415</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.project</string>
	<key>PROJECT_ID</key>
	<string>project-ral069</string>
	<key>STORAGE_BUCKET</key>
	<string>project-ral069.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:164244313415:ios:ebb51dd4bbb450f9d4a862</string>
</dict>
</plist>